@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes - Listagem</h1>

<p>
    <a asp-area="Cadastros" asp-controller="Clientes" asp-action="Incluir" class="btn btn-primary">Novo Cliente</a>
</p>
<hr />

<table class="table table-hover table-bordered" id="tbgrid" style="width: 100%;" >
    <thead>
        <tr> 
            <th class="no-sort">#</th>
            <th class="no-sort">#</th>
            <th class="text-center">ID</th>
            <th>
                Apelido
            </th>
            <th>
                Nome
            </th>
            <th>
                Documento
            </th>
            <th>
                E-mail
            </th>
        </tr>
    </thead>
</table>

@section Scripts {

    <script>
        colunas = [ 
            {
                "data": "id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='#' class='btn btn-primary btn-sm showhint' title='Alterar registro'><i class='glyphicon glyphicon-pencil'></i></a>"
                }
            },
            {
                "data": "id",
                "searchable": false,
                "sortable": false,
                "width": "2%",
                "sClass": "text-center",
                "render": function (id) {
                    return "<a href='#' class='btn btn-danger btn-sm showhint' title='Excluir registro'><i class='glyphicon glyphicon-trash'></i></a>"
                }
            },
            {
                "data": "id",
                "width": "2%",
                "sClass": "text-center"
            },
            {
                "data": "apelido",
                "width": "15%",
                "sClass": "text-left"
            },
            {
                "data": "nome",
                "width": "40%",
                "sClass": "text-left"
            },
            {
                "data": "documento",
                "width": "16%",
                "sClass": "text-left"
            },
            {
                "data": "email",
                "width": "20%",
                "sClass": "text-left"
            }
        ];
        $(document).ready(function () {
            ListagemConsulta("tbgrid", urlClientes, colunas)
        });
    </script>

}
